body {
  margin:0px auto;
  background: #0470dc; /* Old Browsers */
  background: -webkit-linear-gradient(top,#10daf6,#0470dc); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,#10daf6,#0470dc); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,#10daf6,#0470dc); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #10daf6, #0470dc); /*Standard*/

}

#nav {
  z-index: 9;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:rgba(0,0,0,0.1);;
}

.jumbotron {
  background: rgba(255, 255, 255, 0);
  padding-top: 175px;      
}

p {
  font-family: 'Open Sans', sans-serif;
}

.construction-text {
  margin-top: 0;
  margin-bottom: 10;
  text-anchor: middle;
  text-align: center;
  color: #ffffff;
  background: #fad961; /* Old Browsers */ 
  background: -webkit-linear-gradient(top,#fad961,#f7852c); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,#fad961,#f7852c); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,#fad961,#f7852c); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #fad961, #f7852c); /*Standard*/
  border-radius: 10px;
}

h3 {
  font-family: 'Bungee Inline', cursive;
}

.button-links {
  color: #F5515F;
}

.button-links a:hover {
  color: #0470dc;
}

.uk-card {
  background:#ffffff;
}

.projects-heading {
  text-align: center;
}

.more-projects {
  text-align: center;
  align-content: center
  color: #000000;
  background: #ffffff;
}

.more-projects-button {
  text-align: center;
}

.btcwdgt-chart {
  align-content: center;
  align-items: center;
  margin-bottom: 0;
}

footer {
  background: #414141;
  color: #ffffff;
  text-align: center;
}

